#header{
    background-color: lightgray;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* width: auto; */
    
}
#header img{
    width: 120px;
    height: auto;
   
 
}

#pic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#pic h3{
    border: 3px solid rgb(15, 12, 8);
    margin-top: 8px;
    text-transform: uppercase;
    color: rgb(6, 6, 71);
}

#icons{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 30px;
    font-size: 23px;
    padding-top: 14px;
    cursor: pointer;
}

#login{
    padding-top: 10px;
}

/* media query tablat view*/
@media screen and (max-width:768px){
    #header{
    background-color: lightgray;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    overflow-x: hidden;
    font-size: 10px;
    
}
#header img{
    width: 80px;
    height: auto;
   
 
}

#pic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#pic h3{
    border: 2px solid rgb(15, 12, 8);
    margin-top: 8px;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(6, 6, 71);
}

#icons{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 30px;
    font-size: 15px;
    padding-top: 14px;
    cursor: pointer;
}



#login{
    padding-top: 10px;
}



}

/* media query mobile view*/
@media screen and (max-width:425px){
    #header{
    background-color: lightgray;
    /* padding: 15px; */
    display: flex;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
    flex-direction: column;
    padding-right: 90px;
    
}
#header img{
    width: 120px;
    height: auto;
   
 
}

#pic{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#pic h3{
    border: 3px solid rgb(15, 12, 8);
    margin-top: 8px;
    text-transform: uppercase;
    color: rgb(6, 6, 71);
}

#icons{
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 30px;
    font-size: 23px;
    padding-top: 14px;
    cursor: pointer;
}

#login{
    padding-top: 10px;
}



}
