
#manag{
   height: 100vh;
   overflow-y: scroll;
   margin-bottom: 200px;
   overflow-x: scroll;
   width: 90%;
}

#navdata1{
   margin-right: 500px;
   margin-left: 40px;
   width: 100%;
   padding: 30px;
   padding-bottom: 170px;
   box-shadow: 0px 0px 9px;
   
}

/* tablet view */
@media screen and (max-width:768px) {
   #manag{
   height: 100vh;
   overflow-y: scroll;
   margin-bottom: 300px;
   overflow-x: scroll;
   width: 90%;
}

#navdata1{
   margin-right: 500px;
   margin-left: 40px;
   width: 100%;
   padding: 30px;
   padding-bottom: 170px;
   box-shadow: 0px 0px 9px;
   
}
   
}


/* mobile view */
@media screen and (max-width:425px) {
   #manag{
   height: 100vh;
   overflow-y: scroll;
   margin-bottom: 550px;
   overflow-x: scroll;
   width: 200px;
}


   
}


