#from1{
    width: 500px;
    margin: auto;
    border: 1px solid black;
    border-radius: 30px;
    box-shadow: 0px 0px 9px;
    padding: 20px;
    margin-top: 20px;
    background-color: lightcoral;

}
#back{
    background-image: url("r1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;

}
@media screen and (max-width:768px){
    #from1{
     padding-top: 200px;
    width: 500px;
    margin: auto;
}
    
}

@media screen and (max-width:425px){
    #from1{
     padding-top: 300px;
    width: 300px;
    margin: auto;
}
    
}
