#top{
    font-size: 20px;
    font-weight: bold;
}


#head{
    position: sticky;
    top:0;
    z-index: 2;
}

#input{
    padding:10px;
    font-size:20px ;
    text-align:center;
    border-radius: 30px;
    width:300px;
    border:1px solid black; 
}
/* tablet view */
@media screen and  (max-width:768px){
    #top{
    font-size: 11px;
    font-weight: bold;
}
    #head{
    position: fixed;
    top:0;
    z-index: 2;
}

#input{
    padding:6px;
    font-size:12px ;
    text-align:center;
    border-radius: 40px;
    width:120px;
    border:1px solid black; 
}
    
}

/* mobile view */

@media screen and (max-width:425px) {
      #top{
    font-size: 8px;
    font-weight: bold;
    width: 550px;
  
}
    #head{
    position: fixed;
    top:0;
    z-index: 2;
}  
#input{
    padding:8px;
    font-size:10px ;
    text-align:center;
    border-radius: 30px;
    width:140px;
    border:1px solid black;
}
    
}